body {
	background-color: #FE9A2E;
	background-image: url("menufondo.jpg");
	text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
	color: #F5DEB3;
	font-style: italic;
	font-weight: bold;
	font-size: 60px;
}

h2 {
	color: #FF6347;
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
}

ul{
	list-style: none;
}

#barrasuperior {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#li {
    float: left;
}

#li1 {
    float: right;
}

#opcionsuperior {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#opcionsuperior:hover {
    background-color: #111111;
}

#tablainicio {
	text-align: center;
	width: 100%;
}

#campos {
    float: right;
    text-align: center;
}

#forms {
	width: 500px;
    display: inline-block;
    margin: 0 auto;
    font-family: tahoma;
    text-align: left;
  	background-color: #DBA901;
}

#botones {
	text-align: center;
	margin: 0;
	display: inline-block;
	color: black;
}

#tablas {
	width: '100%';
	background-color: #DBA901;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}